@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.h-dvh-no-navbar {
  height: calc(100dvh - 64px);
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #fff;
    opacity: 0;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #d4d4d4;
    border-radius: 100dvh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    /* background: #909090; */
  }
}
